- if cards.empty?
  .row
    .col.s12
      .center-align
        %h4.text-center Sem resultados
- else
  - cards.each_slice(3) do |three_cards|
    .row
      -three_cards.each do |card|
        .col.s12.m4.card-reveal-container{ id: "card-reveal-#{card.id}" }
          = render partial: 'shared/card_reveal', locals: { card: card }
