.card-title.grey-text.text-darken-4
  %i.material-icons.right close
.card-content
  %p
    %b> Nome:
     #{card.name}
  %p
    %b> Tradução:
     #{card.portuguese_name}
- if current_user.present?
  .card-action
    - want_label = 'Quero!'
    - have_label = 'Tenho!'
    - want_class = 'green-text'
    - have_class = ''
    - if current_user.wanted_cards.include?(card)
      - want_label = 'Não quero mais!'
      - want_class = 'red-text'
    - if current_user.owned_cards.include?(card)
      - have_label = 'Não tenho mais!'
      - have_class = 'red-text'
    %p
      = link_to want_label, want_card_path(card), method: :put, remote: true, class: want_class
    %p
      = link_to have_label, have_card_path(card), method: :put, remote: true, class: have_class