.card
  .card-image.activator
    = image_tag (card.image_url || 'card_back.jpg'), class: 'activator'
    %a.btn-floating.halfway-fab.card-reveal-fab.waves-effect.waves-light.z-depth-5.pink.darken-3
      %i.material-icons expand_less
  .card-reveal{ id: "card-reveal-#{card.id}" }
    = render partial: 'shared/card_reveal', locals: { card: card }