.row
  %h4
    %span.card-page-title
      = title
      - if user.present?
        de
        = link_to(user.username, user_path(user.username))
.row
  = render partial: 'shared/card_search', locals: { list: list, label: label }
#card_list
  = render partial: 'shared/card_list', locals: { cards: cards }
