.row
  %h4
    %span.card-page-title
      = title
      - if user.present?
        de
        = link_to(user.username, user_path(user.username))
- if search
  .row
    = render partial: 'shared/card_search', locals: { label: label, username: user&.username }
#card_album
  = render partial: 'shared/card_album', locals: { cards: cards }
