-# $("#{@updatable_list}").html("#{j render 'shared/card_list', cards: @cards, content_type: 'text/html'}");
-# $('.collapsible').collapsible();
$("#{@updatable_album}").html("#{j render 'shared/card_album', cards: @cards, content_type: 'text/html'}");
