<div class="col l4 m6 s12">
  <div class="card">
    <div class="card-image">
      <%= image_tag (card.image_url || 'card_back.jpg') %>
    </div>
    <div class="card-content">
      <p>
        <b>Nome:</b>&nbsp;<%= card.name %>
      </p>
      <p>
        <b>Tradução:</b>&nbsp;<%= card.portuguese_name %>
      </p>
    </div>
    <div class="card-action">
      <a href="#">Quero!</a>
    </div>
  </div>
</div>
